<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6uGoSKVGD3HpO3MV7fr404Q-n0yszN0c</string>
	<key>GCM_SENDER_ID</key>
	<string>377095490944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Personal.SpotifyAuth</string>
	<key>PROJECT_ID</key>
	<string>spotify-auth-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-auth-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377095490944:ios:b287e06e5477ae74ccc565</string>
</dict>
</plist>