<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Avenir-Bold.ttf</string>
		<string>Avenir-Demi.ttf</string>
		<string>Avenir-Medium.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UIColorName</key>
		<string>Splash</string>
		<key>UIImageName</key>
		<string>SpotifyBrand</string>
	</dict>
</dict>
</plist>
